@import "tailwindcss";

@theme {
  --font-regular: "Regular", ui-sans-serif, system-ui;
  --font-space-mono: "SpaceMono", ui-sans-serif, system-ui;

  /* Principals */
  --color-crater: #9A3324;
  --color-greda: #653024;
  
  /* Terra */
  --color-terra-1: #D6AE93;
  --color-terra-2: #5B8EDB;

  /* Garrotxa */
  --color-garrotxa-1: #284734;
  --color-garrotxa-2: #719949;

  /* Volcànic */
  --color-volcanic-1: #BE531C;
  --color-volcanic-2: #584446;
  --color-volcanic-3: #A39382;
  --color-volcanic-4: #425563;
  --color-volcanic-5: #8D89A5;
}

@font-face {
  font-family: "Regular";
  src: url("/src/lib/assets/fonts/Regular/Regular-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url("/src/lib/assets/fonts/Regular/Regular-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url("/src/lib/assets/fonts/Regular/Regular-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url("/src/lib/assets/fonts/Regular/Regular-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url("/src/lib/assets/fonts/Regular/Regular-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Regular";
  src: url("/src/lib/assets/fonts/Regular/Regular-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url("/src/lib/assets/fonts/Regular/Regular-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/src/lib/assets/fonts/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  * {
    @apply font-regular;
  }

  body {
    @apply m-0 min-h-screen min-w-full;
  }

  main {
    @apply min-h-screen min-w-full;
  }

  a {
    @apply underline;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center
  }

  .text-title {
    @apply text-white
  }

  /* THEMES */
  .theme-crater {
    --theme-color: var(--color-crater);
  }

  .theme-terra {
    --theme-color: var(--color-terra-2);
  }

  .theme-garrotxa {
    --theme-color: var(--color-garrotxa-2);
  }

  .theme-volcanic {
    --theme-color: var(--color-volcanic-1);
  }
}

@layer components {
  /* BUTTON */
  .button {
    @apply p-1 px-3 border bg-transparent rounded-br-xl font-medium text-white hover:cursor-pointer;
    border-color: var(--theme-color);
  }

  a.button {
    @apply no-underline;
  }

  .button.active {
    background-color: var(--theme-color);
  }

  .menu .button {
    @apply uppercase
  }

  .submenu .button {
    @apply normal-case
  }

  .menu .button.active {
    @apply font-bold;
  }
}